<style>
    .comment{
        border: 3px solid rgba(0, 0, 255, 0.5);
        border-radius: 10mm;
    }
    .comment_actions{
        margin: 0.7em;
        border-radius: 20px;
    }
</style>
<div class="container">
    <div ng-controller="ArticleController">
        <h1>{{article.title}}</h1>
        <p>{{article.text}}</p>
    </div>
    <h2>Комментарии:</h2>
    <div ng-controller="CommentController">
        <div ng-show="contentLoading && loadingError == null" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
        <div ng-if="!contentLoading && comments.length <= 0 && loadingError == null" class="alert alert-info">
            А их пока нет.
        </div>
        <div ng-show="loadingError != null" class="alert alert-danger">{{loadingError}}</div>
        <div id="comments" ng-if="comments.length > 0 && !contentLoading">
            <div ng-repeat="comment in comments" class="card mb-3 comment">
                <div class="card-body position-relative">
                    <h5 class="card-title">{{ comment.authorName }}</h5>
                    <p class="card-text">{{ comment.text }}</p>
                    <p class="card-text"><small class="text-muted">{{ comment.publishDate | date:'dd.MM.yyyy HH:mm' }}</small></p>
                    <div ng-show="hasAnyActionsForComment(comment)">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split position-absolute end-0 top-0 comment_actions" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li><a ng-show="canEditComment(comment)" ng-click="editComment(comment)" class="dropdown-item" href="javascript:;">Редактировать</a></li>
                            <li><a ng-show="canDeleteComment(comment)" ng-click="deleteComment(comment)" class="dropdown-item" href="javascript:;">Удалить</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-include="'fragments/pagination.html'"></div>
        </div>
        <form ng-show="canPost()" ng-submit="postComment()" class="mt-4">
            <div class="form-group">
                <label for="comment">Напишите комментарий:</label>
                <textarea id="comment" ng-model="newComment.text" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </form>
        <div ng-if="sendingError" class="alert alert-danger" role="alert">{{sendingError}}</div>
    </div>
</div>
