<style>
    .comment{
        border: 3px solid rgba(0, 0, 255, 0.5);
        border-radius: 10mm;
    }
</style>
<div class="container">
    <div ng-controller="ArticleRouteController">
        <h1>{{article.title}}</h1>
        <p>{{article.text}}</p>
    </div>
    <h2>Комментарии:</h2>
    <div ng-controller="CommentController">
        <span ng-if="comments.length <= 0">А их пока нет.</span>
        <div ng-if="comments.length > 0">
            <div id="comments">
                <div ng-repeat="comment in comments" class="card mb-3 comment">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.authorName }}</h5>
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text"><small class="text-muted">{{ comment.publishDate | date:'dd.MM.yyyy HH:mm' }}</small></p>
                    </div>
                </div>
            </div>
            <div ng-include="'fragments/pagination.html'"></div>
        </div>
        <form ng-show="canPost()" ng-submit="postComment()" class="mt-4">
            <div class="form-group">
                <label for="comment">Напишите комментарий:</label>
                <textarea id="comment" ng-model="newComment.text" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </form>
        <div ng-if="sendingError" class="alert alert-danger" role="alert">{{sendingError}}</div>
    </div>
</div>
