<div class="col-md-4 mx-auto" ng-controller="AuthController">
    <!-- Форма авторизации -->
    <form id="login-form" ng-submit="login()" class="d-flex flex-row">
        <div class="form-group me-2">
            <label class="visually-hidden" for="username">Имя пользователя:</label>
            <input type="text" id="username" ng-model="credentials.username" class="form-control" required placeholder="Логин">
        </div>
        <div class="form-group me-2">
            <label class="visually-hidden" for="password">Пароль:</label>
            <input type="password" id="password" ng-model="credentials.password" class="form-control" required placeholder="Пароль">
        </div>
        <div class="form-group">
            <button type="submit" id="login-button" class="btn btn-primary">Войти</button>
        </div>
    </form>

    <!-- Вывод ошибки -->
    <div ng-if="error" class="alert alert-danger" role="alert">
        {{ error }}
    </div>

    <!-- Ответ сервера после авторизации -->
    <div ng-show="token">
        <h2>Токен JWT:</h2>
        <pre>{{ token }}</pre>
    </div>
</div>
