/* Стили для формы логина */
#login-form {
  max-width: 300px; /* Максимальная ширина формы */
  padding: 20px; /* Внутренний отступ вокруг элементов формы */
}

/* Стили для полей ввода */
.form-group {
  margin-bottom: 10px; /* Отступ между элементами формы */
}

/* Стили для кнопки "Войти" */
#login-button {
  width: 100%; /* Ширина кнопки на 100% от родительского элемента */
}